@import "tailwindcss";

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}
